body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom, #0D4DAE, #000);
    text-align: center;
    color: #000;
    flex: 0 0 100px;
}

header h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 48px;
    font-weight: 400;
    font-weight: bold;
    line-height: normal;
}

header h2 {
    font-family: 'Inika', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
    line-height: normal;
    margin-left: 20px;
}

.header-box.part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-box.part .left-content {
    flex-grow: 1;
    text-align: center;
    margin-left: 80px;
}

.header-box.part .right-content {
    margin-right: 20px;
}

.signup-btn {
    background-color: #0D4DAE;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #FFF;
    text-align: center;
    flex-grow: 1;
}

.home{
    display: flex;
    background: url("../assets/home.jpg") center/cover;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.home h1 {
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    line-height: normal;
    margin: 5% 3%;
}

.home p{
    background: rgba(13, 77, 174, 0.7);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5% 3%;
    color: #FFFFFF;
}

.download-btn {
    background-color: #FFF;
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    line-height: normal;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 3%;
    cursor: pointer;
}

.about{
    display: flex;
    background: url("../assets/home2.jpg") center/cover; 
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.about h2 {
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    line-height: normal;
    margin: 5% 3%;
}

.about p{
    background: rgba(13, 77, 174, 0.7);
    padding: 10px;
    border-radius: 8px;
    margin: 5% 3%;
}

.store{
    display: flex;
    background: url("../assets/home3.jpg") center/cover; 
    justify-content:space-between;
    align-items: center;
    flex-grow: 1;
}

.store h2 {
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    line-height: normal;
    margin: 5% 3%;
}

.store p{
    background: rgba(13, 77, 174, 0.7);
    padding: 10px;
    border-radius: 8px;
    margin: 5% 3%;
}

.leaderboard{
    display: flex;
    background: url("../assets/home4.jpg") center/cover;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.leaderboard h2 {
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    line-height: normal;
    margin: 5% 3%;
}

.leaderboard p{
    background: rgba(13, 77, 174, 0.7);
    padding: 10px;
    border-radius: 8px;
    margin: 5% 3%   ;
}

footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #000, #0D4DAE);
    color: #FFF;
    text-align: center;
    flex: 0 0 auto;
}

.social-media {
    order: 1;
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    line-height: normal;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-top: 10px;
    margin-left: 20px; 
}

.social-media img {
    margin-right: 10px;
    cursor: pointer;
}

.support {
    order: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.support img {
    margin-right: 10px;
    cursor: pointer;
}

.copyright {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-icons {
    order: 3;
    border: none;
    cursor: pointer;
    background-color: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}

@media (max-width: 800px) {
    main {
        padding: 20px;
    }

    .content-box {
        width: 100%;
    }

    .home h1 {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .copyright{
        margin-bottom: 50px;
    }
    .navigation-icons {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: space-evenly;
        background-color: #FFF;
        padding: 10px 0;
    }
    .navigation-icons a {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 800px) {
    main{
        margin-left: 180px;
    }
    
    .navigation-icons {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        padding: 20px 0;
    }
    .social-media {
        margin-left: 240px; 
    }
    
    .navigation-icons a {
        margin-left: 0;
        width: 180px;
        height: 180px;
    }
}
